<html>
  <head>
    <title>sensor</title>
    <script type="text/javascript">
    </script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.0/d3.min.js' charset='utf-8'></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/epoch.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/epoch.min.css') }}">
  </head>
  <body>
    <h1>Hello sensor</h1>
    <div id="values">
      <div id="acc">
       加速度x :  <span id='acc_x'></span><br>
       加速度y :  <span id='acc_y'></span><br>
       加速度z : <span id='acc_z'></span><br>
      </div>
      <div id="geo">
       磁場x : <span id='geo_x'></span><br>
       磁場y : <span id='geo_y'></span><br>
       磁場z : <span id='geo_z'></span><br>
      </div>
      <div id="air">
       気圧 : <span id='pres'></span><br>
       湿度 : <span id='humi'></span><br>
       温度 : <span id='temp'></span><br>
       UV : <span id='uv'></span><br>
       照度 : <span id='amb'></span><br>
      </div>
    </div>

    <div id="graph1" class="epoch" style="height: 200px;"></div>
    <div id="graph2" class="epoch" style="height: 200px;"></div>
    <div id="graph3" class="epoch" style="height: 200px;"></div>

    <script type="text/javascript">
      var ws = new WebSocket("ws://localhost:5000/pipe");

      var data1 = [
        { label: "Series 1", values: [] },
        { label: "Series 2", values: [] },
        { label: "Series 3", values: [] }
      ];
      var lineChart1 = $('#graph1').epoch({
        type: 'time.line',
        data: data1,
        axes: ['left', 'right', 'bottom']
      });
      var data2 = [
        { label: "Series 1", values: [] },
        { label: "Series 2", values: [] },
        { label: "Series 3", values: [] }
      ];
      var lineChart2 = $('#graph2').epoch({
        type: 'time.line',
        data: data2,
        axes: ['left', 'right', 'bottom']
      });
      var data3 = [
        { label: "Series 1", values: [] },
        { label: "Series 2", values: [] },
        { label: "Series 3", values: [] },
        { label: "Series 4", values: [] }
      ];
      var lineChart3 = $('#graph3').epoch({
        type: 'time.line',
        data: data3,
        axes: ['left', 'right', 'bottom']
      });
      ws.onmessage = function(e) {
        console.log(e.data)
        parsed_date = JSON.parse(e.data)
        document.getElementById("acc_x").innerHTML = parsed_date.acc[0].y;
        document.getElementById("acc_y").innerHTML = parsed_date.acc[1].y;
        document.getElementById("acc_z").innerHTML = parsed_date.acc[2].y;

        document.getElementById("geo_x").innerHTML = parsed_date.geo[0].y;
        document.getElementById("geo_y").innerHTML = parsed_date.geo[1].y;
        document.getElementById("geo_z").innerHTML = parsed_date.geo[2].y;

        document.getElementById("pres").innerHTML = parsed_date.air[0].y;
        document.getElementById("humi").innerHTML = parsed_date.air[1].y;
        document.getElementById("temp").innerHTML = parsed_date.air[2].y;
        document.getElementById("uv").innerHTML = parsed_date.air[3].y;
        document.getElementById("amb").innerHTML = parsed_date.air[4].y;

        lineChart1.push(parsed_date.acc);
        lineChart2.push(parsed_date.geo);
        lineChart3.push(parsed_date.air);
      };
    </script>

  </body>
</html>
